@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar,
.navbar-nav {
  flex-direction: row;
  justify-content: left;
}

.navbar-brand {
  font-size: 27px;
  margin-right: 27px;
}

.nav-link {
  margin-left: 27px;
  font-size: 20px;
}
